<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Online Test Application</h1>
    <p class="col-md-8 fs-4">This test contains 10 questions</p>
    <h4>Rules:</h4>
   <ol>
    <li>Right answer will give you 4 points</li>
    <li>Wrong answer will deduct 2 point from total</li>
    <li>60seconds will be given to answer the question</li>
    <li>refresh the page will restart the quiz</li>
   </ol>

   <button type="button" class="btn btn-info btn-lg" routerLink="/quiz">Start the Quiz!</button>
</div>